<!DOCTYPE html>
<html>
<head>
    <title>
        Suresh Metals
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
</head>
<body>
    <div class="jumbotron">
      <h1 class="display-4">Hello !</h1>
      <p class="lead">Suresh Metals will provide with a wide variety of sealing products with great quality.</p>
        <p> this is a text </p>
      <hr class="my-4">
      <p>More than 15 years of excellence in providing customer satisfied products in various sizes</p>
      <a class="btn btn-primary btn-lg" href="#" role="button"> Learn more</a>
    </div>
    <div class="login_signup">
        <button type="button" class="btn btn-primary btn-lg">Login</button>
        <button type="button" class="btn btn-secondary btn-lg">Sign Up</button>
    </div>
</body>

</html>
